<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="gotoHome()">
        <ion-icon name="arrow-back"></ion-icon>
        Home
      </button>
    </ion-buttons>
    <language-chooser></language-chooser>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- 
  <div class="spinner" *ngIf="visibility=='hidden'">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
 -->
 <div *ngIf='noEntries'>
    <p class="center">No entries for {{letter}}</p>
 </div>

  <virtual-scroll 
    #scroll 
    [items]="entries" 
    [@visibilityChanged]="visibility"
    [childHeight]="100"
    [parentScroll]="content._elementRef.nativeElement.querySelector('.scroll-content')">

    <wordlist-entry 
      *ngFor="let entry of scroll.viewPortItems"
      [templateLang]='language.code' 
      [entry]='entry.doc'>
      </wordlist-entry>

  </virtual-scroll>

</ion-content>
