<ion-header>

  <ion-navbar>
    <language-chooser></language-chooser>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="noEntries">
    <p class="center">No entries for {{ letter }}</p>
  </div>
<!-- 

  <ion-list>
    <ion-item *ngFor="let entry of entries">
      <wordlist-entry item-content [sortKey]='language.sortKey' [entry]='entry' (click)='goToEntry(entry)'></wordlist-entry> 
    </ion-item>
  </ion-list>
-->

  <!-- VIRTUAL LIST IS ONLY LOADING THE FIRST ITEM. GRRR -->
  
  <!-- {{ entries | json }} -->

  <ion-list
    [@visibilityChanged]="visibility"
    class="wordlist"
    [virtualScroll]='entries'
    [approxItemHeight]="'50px'"
    >

    <ion-item
      *virtualItem='let entry'>
      <!-- {{entry| json}} -->

      <wordlist-entry item-content [sortKey]='language.sortKey' [entry]='entry.data' [attachments]='entry._attachments'></wordlist-entry>

    </ion-item>

  </ion-list>


</ion-content>
