<ion-header>

  <ion-navbar>
    <language-chooser></language-chooser>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div padding class="alphabet" *ngIf='letters'>  
    <button ion-button round large *ngFor="let letter of letters" (click)="gotoWordlist(letter)">
      {{letter}}
    </button>
  </div>

  <div class="spinner" *ngIf="(lettersLoading$ | async)?.length > 0">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="(lettersLoading$ | async)?.length > 0">
    Downloading 
    <span *ngFor="let letter of lettersLoading$ | async">
      {{letter}}
    </span>
  </div>

</ion-content>

<ion-footer>

  <button ion-button outline (click)="gotoAbout()">About</button>
  <button ion-button outline (click)="gotoSearch()">Search</button>
  <!-- <p class="meta" *ngIf="isMobile">{{status$ | async}}</p> -->

</ion-footer>