page-home {

  .alphabet button {
    font-size: 2.4rem;
  }

  ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    button { margin: 10px }
  }

  .meta { margin: 10px }
}
