page-entry {

  #page-nav ion-col {text-align: center}

  .entry-page {

   .scroll-content {
      display: flex;
      flex-direction: column;
    }
  }

  .entry-container {
    flex: 1;
    padding-bottom: 60px;
  }
  
  #page-nav { 
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // .entry-container { background-color: red; }
  // #page-nav { background-color: green; }

  .entry {

    .grid.header, .header .row, .header .col { padding: 0 }

    .entry-image {
      height: 50px;
      width: 50px;
    }
  }

}
