<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content padding class="flex entry-page">
    
  <div #waveform id="waveform"></div>

  <div class="entry-container" *ngIf="content" (swipe)="swipeEvent($event)">
    <section class="entry">

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="hw">
              <h1 *ngIf="content.lxc">{{content.lxc}}</h1>
              <h1 *ngIf="! content.lxc">{{content.lx}}</h1>
            </div>

            <div class="full-form" *ngIf="content.lxc && content.lx">
              <p>Full form: {{content.lx}}</p>
            </div>
          </ion-col>

          <ion-col col-2 *ngIf="audios.length > 0">
            <button ion-fab mini color="light" (click)='play()' data-tap-disabled="true">
              <ion-icon [name]="(playing && master) ? 'pause' : 'play'"></ion-icon>
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>


      <div class="senses" *ngIf='content.senses'>
        <div *ngIf='content.senses.length > 0'>
          <ion-card *ngFor="let sense of content.senses">
            <ion-card-content>
              <entry-sense [sense]='sense'></entry-sense>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf='! content.senses.length'>
          <ion-card>
            <ion-card-content>
              <entry-sense [sense]='content.senses'></entry-sense>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <!-- / senses -->

    </section>
  </div>

  <ion-grid id="page-nav">
    <ion-row>
      <ion-col>
        <button ion-button icon-only clear color="dark" (click)="prev()" *ngIf="adjacentIds.back">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-only clear color="dark" (click)="next()" *ngIf="adjacentIds.forward">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
