<ion-header>

  <ion-navbar hideBackButton *ngIf='!searchTerm'>
    <ion-buttons left>

      <button ion-button icon-only (click)="gotoWordlist()" *ngIf="!searchTerm">
        <ion-icon name="arrow-back"></ion-icon>
        Wordlist
      </button>

      <button ion-button icon-only (click)="gotoSearch()" *ngIf="searchTerm">
        <ion-icon name="arrow-back"></ion-icon>
        Search
      </button>

    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf='searchTerm'>
  </ion-navbar>

</ion-header>

<ion-content padding class="flex entry-page">

  <div class="entry-container" *ngIf="content" (swipe)="swipeEvent($event)">
    <section class="entry">

      <ion-grid class="header">
        <ion-row>
          <ion-col>
            <div class="headword">
              {{content.lx}}
            </div>
          </ion-col>

          <ion-col col-2>
            <ion-spinner  class="small" *ngIf="loadingAudio"></ion-spinner>
            <button (click)='play()' ion-fab mini data-tap-disabled="true" *ngIf="blobReady">
              <ion-icon name="volume-up"></ion-icon>
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>


      <div class="senses" *ngIf='content.senses'>
        <div *ngIf='content.senses.length > 0'>
          <div *ngFor="let sense of content.senses">

              <entry-sense [sense]='sense'></entry-sense>

          </div>
        </div>
        <div *ngIf='! content.senses.length'>
          <div>

              <entry-sense [sense]='content.senses'></entry-sense>

          </div>
        </div>
      </div>
      <!-- / senses -->

    </section>
  </div>


</ion-content>


<ion-footer id="page-nav" *ngIf="!searchTerm">
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button icon-only clear color="dark" (click)="prev()" *ngIf="adjacentIds.back">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-only clear color="dark" (click)="next()" *ngIf="adjacentIds.forward">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
