<ion-grid item-content>
  <ion-row>


    <ion-col class="data" *ngIf='sortKey=="lx"'>
      <div (click)='goToEntry(content)'>
        <h1 *ngIf="content.lxc">{{content.lxc}}</h1>
        <h1 *ngIf="! content.lxc" >{{content.lx}}</h1>
      </div>
      <div *ngIf='content.senses'>
        <ul *ngIf='content.senses.length > 0'>
          <li *ngFor="let sense of content.senses">
            <span *ngIf="sense"> {{sense.def}} </span>
          </li>
        </ul>
         <ul *ngIf='(! content.senses.length) && (content.senses.def)'>
          <li>
            <span *ngIf="content.senses.def"> {{content.senses.def}} </span>
          </li>
        </ul>
      </div>
    </ion-col>

    <ion-col class="data" *ngIf='sortKey=="def"'>
      <div (click)='goToEntry(content)'>
        <div *ngIf='content.senses.length > 0'>
          <h1 *ngFor="let sense of content.senses">
            <span *ngIf="sense"> {{sense.def}} </span>
          </h1>
        </div>
         <div *ngIf='(! content.senses.length) && (content.senses.def)'>
          <h1>
            <span *ngIf="content.senses.def"> {{content.senses.def}} </span>
          </h1>
        </div>
      </div>
      <ul>
        <li *ngIf="content.lxc">{{ content.lxc }}</li>
        <li *ngIf="! content.lxc">{{ content.lx }}</li>
      </ul>
    </ion-col>


    <ion-col col-2 class="images" *ngIf="images.length > 0">
      <div
        class="hw-image"
        [ngStyle]="{'background-image': 'url(' + images[0] + ')'}"
        ></div>
    </ion-col>

    <ion-col col-2 *ngIf="audios.length > 0">
      <button ion-fab mini color="light" (click)='play()' data-tap-disabled="true">
        <ion-icon [name]="(playing && master) ? 'pause' : 'play'"></ion-icon>
      </button>
    </ion-col> 

    <!-- leave this outside the col so ewavesurfer can find it while the entries are loading -->
    <div #waveform id="waveform"></div>

  </ion-row>
</ion-grid>

