<ion-grid item-content *ngIf='entry.data'>
  <ion-row>


    <ion-col (click)='goToEntry(entry.data.id)' *ngIf="templateLang!='ENG'">
      <div class="headword">
        {{entry.data.lx}}
      </div>
      <div class="def">
        <wordlist-sense [senses]='entry.data.senses'></wordlist-sense>
      </div>
    </ion-col>


    <ion-col (click)='goToEntry(entry.data.id)' *ngIf="templateLang=='ENG'">
      <div class="headword">
        <wordlist-sense [senses]='entry.data.senses'></wordlist-sense>
      </div>
      <div class="def">
        {{entry.data.lx}}
      </div>
    </ion-col>

<!-- 
    <ion-col col-2 class="images" *ngIf="images.length > 0">
      <div
        class="hw-image"
        [ngStyle]="{'background-image': 'url(' + images[0] + ')'}"
        ></div>
    </ion-col>
 -->

    <ion-col col-2>
      <ion-spinner class="small" *ngIf="loadingAudio"></ion-spinner>
      <button (click)='play()' ion-fab mini data-tap-disabled="true" *ngIf="blobReady">
        <ion-icon name="volume-up"></ion-icon>
      </button>
    </ion-col> 

  </ion-row>
</ion-grid>

